Json_Prod/Builds/CurrentBuild/
Json_Prod/Foundation/JsonQuickStart/bin/
Json_Prod/Foundation/JsonQuickStart/obj/
Json_Prod/Projects/.vs/JsonDiagnosticsCoreConsole/v15/
Json_Prod/Projects/JsonDiagnosticsCoreConsole/bin/
Json_Prod/Projects/JsonDiagnosticsCoreConsole/obj/
